ANTHROPIC_API_KEY=anthropic_api_key
E2B_API_KEY=e2b_api_key
CENSUS_API_KEY=census_api_key
BLS_API_KEY=bls_api_key
USDA_API_KEY=usda_api_key
E2B_TEMPLATE_ID=e2b_template_id
NEXT_PUBLIC_MAPBOX_TOKEN=mapbox_token
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=clerk_publishable_key
CLERK_SECRET_KEY=clerk_secret_key
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/dashboard
MONGODB_URI=mongodb_uri
MONGODB_DB=database_name